body {
  font-family: Arial, sans-serif;
  background-size: cover;
  height: 100vh;
}
.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 600ms;
  visibility: hidden;
  opacity: 1;
}
.popup_htp .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
#how_to_play_card {
  position: absolute;
  right: 40%;
  top: 30%;
}
.start1 {
  width: 300px;
  height: 50px;
  border: 2px solid #ed1b76;
  color: white;
  position: absolute;
  right: 38%;
  top: 60%;
  font-size: 20px;
  background-color: black;
  cursor: pointer;
  text-align: center;
}
.start_text1 {
  margin-top: 15px;
  width: 100px;
}
.start1:hover {
  border: 2px solid black;
}
